nav li {
    margin-left: 5px;
}

.dropdown-item {
    padding-top: 5px;
}

#main-section {
    background-color: #def0f7;
}

.main-section-1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.body-text {
    width: 70%;
}

.get-access-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 55%;
}